@charset "UTF-8";
/*-----------------------ALL----------------------*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  list-style-type: none;
}

body {
  background-color: #474747;
}

a {
  -webkit-transition: 0.15s color;
  transition: 0.15s color;
}

a:hover {
  color: #f6b02d;
}

.superContainer {
  overflow: hidden;
}

/*----------------------HEADER----------------------*/
header {
  z-index: 11;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 115px;
  background-color: #121212;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.big_name {
  font-size: 56px;
  text-transform: uppercase;
}

.menuBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 76%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hamburger-menu {
  display: none;
  width: 70%;
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: absolute;
  top: 44px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 12;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #121212;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
  color: black;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
  left: auto;
}

/*-------------------------------------*/
.films {
  z-index: 1;
  position: relative;
  width: 80%;
  display: block;
  background-color: #343434;
  margin: auto;
  border-radius: 50px;
  margin-top: 5vh;
  padding-bottom: 50px;
  margin-bottom: 5vh;
}

.items_head {
  z-index: 11;
  margin: auto;
  background-color: #121212;
}

.items_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #f6b02d;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  margin-top: 50px;
  width: 88%;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filmImg {
  display: block;
  width: 88%;
  height: 63%;
  border-radius: 20px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 88%;
  background-color: #121212;
  height: 30%;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px 0;
  text-align: center;
}

.filmAge {
  font-weight: 100;
}

.filmName {
  font-size: 20px;
  font-weight: 300;
  color: #f6b02d;
}

.buyBotton {
  margin-top: 4%;
  background-color: #121212;
  width: 88%;
  height: 10%;
  padding: 1px 0;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buyBotton > a {
  display: block;
  position: relative;
  text-transform: uppercase;
  padding: 15px 0;
  white-space: nowrap;
}

/*-----------------FOOTER-----------------------------*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  width: 100%;
  background-color: #121212;
  height: 300px;
  font-size: 20px;
  /*-------------*/
}

footer .footerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  height: 76%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footerWrap .fSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

footer .footerWrap .fSection ul {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footerWrap #firstS {
  text-transform: uppercase;
}

@media (max-width: 2566px) {
  footer header .wrap .big_name {
    font-size: 60px;
  }
  footer header .wrap ul li {
    font-size: 32px;
  }
  footer .items_name {
    font-size: 36px;
  }
  footer .item {
    width: 22%;
  }
  footer .item .filmImg {
    width: 88%;
    max-width: 600px;
  }
  footer .description .filmAge {
    font-size: 32px;
  }
  footer .description .filmName {
    font-size: 36px;
  }
  footer .description .filmZhanr {
    font-size: 32px;
  }
  footer .buyBotton {
    font-size: 28px;
  }
  footer .aboutText p {
    font-size: 34px;
  }
  footer footer {
    font-size: 32px;
  }
}

@media (max-width: 1926px) {
  header .wrap .big_name {
    font-size: 60px;
  }
  header .wrap ul li {
    font-size: 22px;
  }
  .description .filmAge {
    font-size: 28px;
  }
  .description .filmName {
    font-size: 24px;
  }
  .description .filmZhanr {
    font-size: 22px;
  }
  .buyBotton {
    font-size: 20px;
  }
  .aboutText p {
    font-size: 22px;
  }
  footer {
    font-size: 22px;
  }
}

@media (max-width: 1441px) {
  header .wrap .big_name {
    font-size: 40px;
  }
  header .wrap ul li {
    font-size: 18px;
  }
  .items_name {
    font-size: 30px;
  }
  .item {
    width: 25%;
  }
  .description .filmAge {
    font-size: 24px;
  }
  .description .filmName {
    font-size: 17px;
  }
  .description .filmZhanr {
    font-size: 17px;
  }
  .buyBotton {
    font-size: 13px;
  }
  .aboutText p {
    font-size: 24px;
    line-height: 48px;
  }
  footer {
    font-size: 20px;
  }
}

@media (max-width: 769px) {
  .menuBlock {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row .item {
    width: 50%;
    margin-bottom: 30px;
  }
  .aboutText {
    margin: 20px 50px;
  }
  .aboutText p {
    font-size: 20px;
    line-height: 40px;
  }
  footer {
    height: 100%;
    padding: 40px 0;
  }
  footer .footerWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footerWrap .fSection {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  footer .footerWrap .fSection ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 426px) {
  .nov, .bestselers, .aboutService {
    width: 90%;
  }
  .aboutText {
    margin: 20px 20px;
  }
  .aboutText p {
    font-size: 15px;
    line-height: 25px;
  }
  header .wrap .big_name {
    font-size: 30px;
  }
  .description .filmZhanr {
    font-size: 14px;
  }
  .buyBotton > a {
    font-size: 12px;
  }
}
/*# sourceMappingURL=blockFilms.css.map */