@charset "UTF-8";
/*-----------------------ALL----------------------*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #474747;
}

.superContainer {
  overflow: hidden;
}

a {
  -webkit-transition: 0.15s color;
  transition: 0.15s color;
}

a:hover {
  color: #f6b02d;
}

/*----------------------HEADER----------------------*/
header {
  position: relative;
  width: 100%;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #121212;
  height: 115px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.big_name {
  font-size: 56px;
  text-transform: uppercase;
}

.menuBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 76%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hamburger-menu {
  display: none;
  width: 70%;
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: absolute;
  top: 44px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 12;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #121212;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
  color: black;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
  left: auto;
}

/*------------------------------------------------------*/
.filmPage {
  z-index: 1;
  position: relative;
  width: 80%;
  display: block;
  background-color: #343434;
  margin: auto;
  border-radius: 50px;
  margin-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.items_head {
  z-index: 11;
  margin: auto;
  background-color: #121212;
}

.items_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #f6b02d;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 88%;
  margin: 50px auto 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.mainContent p {
  width: 88%;
}

.image {
  border-radius: 15px;
}

.mainImg {
  width: 45%;
}

.mainDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #121212;
  margin: 0 20px;
  text-align: center;
}

.mainDescription > p {
  font-size: 20px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textDescription {
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textDescription > p {
  width: 88%;
  margin: auto;
  font-size: 22px;
  line-height: 40px;
}

/*----------------------------------------------------*/
#vybor {
  margin-top: 30px;
}

.chIMG {
  width: 33vw;
  height: 23vw;
  margin: auto;
  -webkit-transition: -webkit-filter 0.15s;
  transition: -webkit-filter 0.15s;
  transition: filter 0.15s;
  transition: filter 0.15s, -webkit-filter 0.15s;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figcaption {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #121212;
  width: 100%;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chIMG:hover {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

/*--------------------------------------------------*/
#vyborDate {
  margin-top: 60px;
}

.dateSuperBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.dateBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.timeBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3vh;
}

.dateBlock, .timeBlock {
  font-size: 2vh;
  width: 88%;
}

.date {
  height: 60px;
  width: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #121212;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.date > p {
  -webkit-transition: .15s color;
  transition: .15s color;
  -webkit-transition: .15s font-size;
  transition: .15s font-size;
}

.timeBlock > date {
  font-size: 10px;
}

.date:hover > p {
  color: #f6b02d;
  font-size: 3.5vh;
}

.buyButton {
  width: 26vw;
  height: 8vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5vh;
  background-color: #121212;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5vw;
  font-size: 3vh;
  white-space: nowrap;
}

/*-----------------FOOTER-----------------------------*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  width: 100%;
  background-color: #121212;
  height: 300px;
  font-size: 20px;
}

footer .footerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  height: 76%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footerWrap .fSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

footer .footerWrap .fSection ul {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footerWrap #firstS {
  text-transform: uppercase;
}

@media (max-width: 2566px) {
  header .wrap .big_name {
    font-size: 60px;
  }
  header .wrap ul li {
    font-size: 32px;
  }
  .items_name {
    font-size: 36px;
  }
  footer {
    font-size: 32px;
  }
  .textDescription > p {
    font-size: 32px;
  }
  .mainDescription > p {
    font-size: 28px;
  }
}

@media (max-width: 1926px) {
  header .wrap .big_name {
    font-size: 60px;
  }
  header .wrap ul li {
    font-size: 22px;
  }
  .buyBotton {
    font-size: 20px;
  }
  footer {
    font-size: 22px;
  }
  .textDescription > p {
    font-size: 22px;
  }
  .mainDescription > p {
    font-size: 24px;
  }
}

@media (max-width: 1441px) {
  header .wrap .big_name {
    font-size: 40px;
  }
  header .wrap ul li {
    font-size: 18px;
  }
  .items_name {
    font-size: 20px;
  }
  .buyBotton {
    font-size: 17px;
  }
  .textDescription > p {
    font-size: 18px;
  }
  .mainDescription > p {
    font-size: 13px;
  }
  figcaption {
    font-size: 24px;
  }
  .buyButton {
    font-size: 26px;
  }
  footer {
    font-size: 20px;
  }
  .dateBlock, .timeBlock {
    font-size: 18px;
  }
}

@media (max-width: 1273px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88%;
    margin: 25px auto 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row .mainContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row .mainContent .mainImg {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .row .mainContent .mainImg .image {
    margin: 0 auto;
  }
  .row .mainContent .mainDescription {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
  }
  .row .mainContent .textDescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 25px 0;
  }
}

@media (max-width: 769px) {
  .menuBlock {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .filmPage {
    padding-bottom: 30px;
  }
  .buyButton {
    width: 28vh;
    font-size: 18px;
    margin-top: 30px;
  }
  .dateBlock, .timeBlock {
    font-size: 12px;
  }
  footer {
    height: 100%;
    padding: 40px 0;
  }
  footer .footerWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .footerWrap .fSection {
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0;
  }
  footer .footerWrap .fSection ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 426px) {
  header .wrap .big_name {
    font-size: 30px;
  }
  .items_name {
    font-size: 14px;
  }
  .buyButton {
    font-size: 9px;
  }
  .image {
    width: 200px;
  }
  .dateSuperBlock {
    margin-top: 30px;
  }
  .date {
    height: 45px;
  }
  .mainDescription > p {
    width: 30%;
    font-size: 10px;
  }
  .textDescription > p {
    font-size: 12px;
    line-height: 25px;
  }
  figcaption {
    font-size: 18px;
  }
  .dateBlock, .timeBlock {
    font-size: 9px;
  }
}
/*# sourceMappingURL=films.css.map */