/*-----------------------ALL----------------------*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #fff;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
  list-style-type: none;
}
body{
	background-color: #474747;
}
a{
	transition: 0.15s color;
}
a:hover{
	color: #f6b02d;
}
.superContainer{
	overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*----------------------HEADER----------------------*/
header{
	position: relative;
	width: 100%;
	z-index: 11;
	display: flex;
	background-color: #121212;
	height: 115px;
	flex-direction: column;	
}
.wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: auto;
}
.big_name{
	font-size: 56px;
  	text-transform: uppercase;
}
.menuBlock{
  display: flex;
  width: 76%;
  justify-content: space-around;
}
.hamburger-menu{
    display: none;
    width: 70%;
}
#menu__toggle{
    display: none;
}
.menu__btn{
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 44px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 12;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #121212;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
	color: black;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
    left: auto;
  }
/*-------------------FORMA-------------------------*/
#wrapForm{
//Эквивалентно 1% большего размера окна браузера по высоте или ширине.
  margin-top: 2vmax;
}
.items_head{
	z-index: 5;
	margin: auto;
  width: 100%;
	background-color: #121212;
  
}
.items_name{
	display: flex;
	height: 60px;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	text-transform: uppercase;
	color: #f6b02d;
}
#wrapForm{
  background-color: #343434;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  margin: 50px auto;
}
form{
  width: 80%;
  margin-top: 2vh;
  ul{
    li{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 3vh 0;
      input{
        width: 60%;
        background-color: #121212;
        height: 50px;
        border: none;
        border-radius: 10px;
      }
      input:focus-visible{
        outline-color: #f6b02d;
        outline-style: solid;
      }
      input[type="text"]{
        padding-left  : 10px;
      }
      input[type="email"]{
        padding-left: 10px;
      }
      label{
        width: 25%;
        height: 50px;
        background-color: #121212;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        white-space: nowrap;
      }
    }
  }
}
.button{
  width: 97%;
  display: flex;
  justify-content: flex-end;
}
button{
  width: 33%;
  height: 30px;
  background-color: #121212;
  border-radius: 10px;
  border: none;
  transition-duration: 0.4s;
  font-size: 18px;
  font-weight: 300;
}
button:hover {
  color: #f6b02d;
}
/*-----------------FOOTER-----------------------------*/
footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
  	align-items: center;
	margin-top: auto;
 	width: 100%;
	background-color: #121212;
	height: 300px;
	font-size: 20px;
  .footerWrap{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 76%;
    justify-content: space-evenly;
    .fSection{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
	  white-space: nowrap;
      ul{
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
    #firstS {
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }
  }
}
/*--------------------------------------------*/
@media (max-width:2566px) {
	header{
		.wrap{
			.big_name{
				font-size: 60px;
			}
			ul{
				li{
					font-size: 32px;
				}
			}
		}
	}
	.items_name{
		font-size: 36px;
	}
	footer{
		font-size: 32px;
	}
}
@media (max-width:1926px) {
	header{
		.wrap{
			.big_name{
				font-size: 60px;
			}
			ul{
				li{
					font-size: 22px;
				}
			}
		}
	}
	footer{
		font-size: 22px;
	}
}
@media (max-width:1441px) {
	header{
		.wrap{
			.big_name{
				font-size: 40px;
			}
			ul{
				li{
					font-size: 18px;
				}
			}
		}
	}
	.items_name{
		font-size: 30px;
	}
	footer{
		font-size: 18px;
	}
}
@media (max-width:769px) {
	.menuBlock{
		display: none;
	}
	.hamburger-menu{
		display: block;
	}
  label{
    font-size: 14px;
  }
  button{
    font-size: 14px;
  }
  .animate-logo{
    margin-top: 35px;
  }
	footer{
		height: 100%;
		padding: 40px 0;
		.footerWrap{
			flex-direction: column;
			align-items: center;
			.fSection{
				width: 50%;
				align-items: center;
				margin: 20px 0;
				ul{
					align-items: center;
				}
			}
		}
	}
}
@media (max-width:426px) {
	header .wrap .big_name{
		font-size: 30px;
	}
  .items_name{
    font-size: 20px;
  }
  label{
    font-size: 10px;
  }
  button{
    font-size: 10px;
  }
}