/*-----------------------ALL----------------------*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	box-sizing: border-box;
}
body{
	background-color: #474747;
}
.superContainer{
	overflow: hidden;
}
a{
	transition: 0.15s color;
}
a:hover{
	color: #f6b02d;
}	
/*----------------------HEADER----------------------*/
header{
	position: relative;
	width: 100%;
	z-index: 11;
	display: flex;
	background-color: #121212;
	height: 115px;
	flex-direction: column;	
}
header>nav{
	width: 80%;
	margin: auto;
	height: 115px;
}
header > nav >ul{
	height: 115px;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	align-items: center;	
}
header > nav >ul>li>a{
	font-size: 3vh;
}
.big_name{
	font-size: 8vh;
}
/*------------------------------------------------------*/
.filmPage{
	z-index: 1;
	position: relative;
	width: 80%;
	display: block;
	background-color: #343434;
	margin: auto;	
	border-radius: 50px;
	margin-top: 5vh;
	padding-bottom: 50px;
	margin-bottom: 5vh;
}
.items_head{
	z-index: 11;
	margin: auto;
	background-color: #121212;
}
.items_name{
	display: flex;
	height: 60px;
	justify-content: center;
	align-items: center;
	font-size: 5vh;
	text-transform: uppercase;
	color: #f6b02d;
}
.row{
	display: flex;
	margin-top: 5vh;
	justify-content: space-around;
}
.mainContent{
	display: inline-flex;
	justify-content: space-between;
	flex-direction: row;
	width: 88%;
	margin: auto;
}
.mainDescription{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #121212;
	height: 60vh;
	width: 80%;
	margin: 0 3vh;
	text-align: center;
}
.mainDescription > p{
	font-size: 3vh;
}
.image{
    height: 60vh;
    max-width: 800px;
	border-radius: 1.5vh;
}
.textDescription{
	background-color: #121212;
	display: flex;
	flex-direction: column;
	height: 60vh;
}
.textDescription>p{
	width: 88%;
	margin: auto;
	font-size: 3vh;
	line-height: 4vh;

}
/*----------------------------------------------------*/
#vybor{
	margin-top: 3vh;
}	

.chIMG{
	width: 32vw;
	height: 28vw;
	min-height: 30vh;
	margin: auto;
	transition: filter 0.15s;
}
figure{
	display: flex;
	flex-direction: column;
	align-items: center;
}
figcaption{
	font-size: 4vh;
	display: flex;
	background-color: #121212;
	width: 100%;
	height: 5vh;
	align-items: center;
	justify-content: center;
}
.chIMG:hover{
	filter: brightness(30%);
}
/*--------------------------------------------------*/
#vyborDate{
	margin-top: 6vh;
}
.dateSuperBlock{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin-top: 5vh;
}
.dateBlock{
	display: flex;
	flex-direction: row;
	width: 60%;
	justify-content: space-around;
}
.timeBlock{
	display: flex;
	flex-direction: row;
	width: 60%;
	justify-content: space-around;
	margin-top: 3vh;
}
.dateBlock, .timeBlock{
	font-size: 2vh;
}
.date{
	height: 10vh;
	width: 5vw;
	display: flex;
	align-items: center;
	background-color: #121212;
	border-radius: 15px;
	justify-content: center;
}
.date>p{
	transition: .15s color;
	transition: .15s font-size;
}
.timeBlock > date{
	font-size: 10px;
}
.date:hover>p{
	color: #f6b02d;
	font-size: 3.5vh;
}
.buyButton{
	width: 26vw;
    height: 8vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    background-color: #121212;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
	font-size: 3vh;
}
/*-----------------FOOTER-----------------------------*/
footer{
	display: flex;
	margin-top: 8vh;
	background-color: #121212;
	height: 300px;
}
.wrap{
	width: 80%;
	display: inline-flex;
	justify-content: space-between;
	margin: auto;
}
.fSection{
	line-height: 40px;
	letter-spacing: 1px;
}
.fSection>p{
	text-transform: uppercase;
}
#firstS>p{
	display: inline;
}
#firstS{
	vertical-align: middle;
}